
<form>
    <style>
        label{
            text-align:left;
            display: inline-block;
            width: 90px;
            margin-bottom: 30px;
            margin-left: -50px;
        }
        button{
            text-align:center;
            
        }
        div{
            text-align: center;
        }
        

    </style>
  <div>
    <h2>Register Account</h2>
    <label for="name"><b> Name </b> </label>
    <input type="text" placeholder= "Enter Name" name="name" id="name">
    <br>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder= "Enter Email "email="email" id="email">
    <br>

    <label for="email"><b>Password</b></label>
    <input type="text" placeholder= "Enter Password" password="password" id="password">
    <br>

    <button>Submit</button>

    <button>Reset</button>
  </div>
</form>



